<!DOCTYPE html>
<html>
<head>
    <title>Messing Up Enterprise</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="imgs/Messingup.svg">
</head>
<body>
<main>
    <nav>
        <ul id="NavMenu">
            <img id="NavLogo" src="<%= asset_path 'Messingup.svg' %>" alt="Quantum Networks">
            <p>Messing Up Enterprise</p>
            <li><%= link_to 'Customer Login', login_path %></li>
            <li><%= link_to 'Contact Us', contactus_path %></li>
            <li><%= link_to 'About Us', aboutus_path %></li>
            <li><%= link_to 'Services', services_path %></li>
            <li><%= link_to 'Home', root_path %></li>
        </ul>   
    </nav>
</main>
<section id="Section1-Container">
    <div id="Contact-Image-Container">
        <img src="<%= asset_path 'services.jpg' %>" alt="Contact Us">
        <div id="Overlay-Text">Services</div>
    </div>
</section>
<section id="Services">
    Sub Services
</section>
<section id="ContactUs">
    Contact Us
</section>

<footer>
    <div class="footer-content">
        <div id="FooterMainInfo">
            <h3>Messing Up Enterprise</h3>
            <p>Email Us: Support@Mestup.org</p>
            <p>Mail Us: 1232 Forest Hills Dr., Pasadena CA 91232</p>
        </div>
    </div>
</footer>
</body>
</html>
