<!DOCTYPE html>
<html>
<head>
    <title>Messing Up Enterprise</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="imgs/Messingup.svg">
    <script src="script.js"></script>
</head>
<body>
<main>
    <nav>
        <ul id="NavMenu">
            <img id="NavLogo" src="<%= asset_path 'Messingup.svg' %>" alt="Quantum Networks">
            <p>Messing Up Enterprise</p>
            <li><%= link_to 'Customer Login', login_path %></li>
            <li><%= link_to 'Contact Us', contactus_path %></li>
            <li><%= link_to 'About Us', aboutus_path %></li>
            <li><%= link_to 'Services', services_path %></li>
            <li><%= link_to 'Home', root_path %></li>
        </ul>   
    </nav>
</main>
<div id="LoginContainer">
    <p>Customer Login</p>
</div>
    <div id="CustomerLogin">
        <div>
            <form action="">
                <div id="LoginFields">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="username" required>
                </div>
                <div id="LoginFields">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="password" required>
                </div>
                <button onclick="" type="submit" id="submit" value="submit" formenctype="">Login</button>
            </form>
        </div>
    </div>
<footer>
    <div class="footer-content">
        <div id="FooterMainInfo">
            <h3>Messing Up Enterprise</h3>
            <p>Email Us: Support@Mestup.org</p>
            <p>Mail Us: 1232 Forest Hills Dr., Pasadena CA 91232</p>
        </div>
    </div>
</footer>
</body>
</html>