<!DOCTYPE html>
<html>
<head>
    <title>Messing Up Enterprise</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="imgs/Messingup.svg">
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'validation' %>
</head>
    <body>
        <section id="Dashboard-Text">
            <h1>Welcome to your dashboard</h1>
        </section>
        <div id="PickaService">Pick a Service to get started!</div>
        <section id="Services-Container">
            <div id="Services left">
                <img src="<%= asset_path 'infrastructure.png' %>" alt="InfrastructureConsult">
                <h1>CISCO VoIP Installation</h1>
                <p>"Enhance your business operations with our experts in CISCO VoIP installation to better your internal phone networks."</p>
            </div>
            <div id="Services middle">
                <img src="<%= asset_path 'cyber-security.png' %>" alt="">
                <h1>Cyber Security Solution</h1>
                <p>"Protect your digital assets with our comprehensive cybersecurity solutions, ensuring robust defense against evolving threats."</p>
            </div>
            <div id="Services right">
                <img src="<%= asset_path 'computer.png' %>" alt="">
                <h1>Networking Solutions</h1>
                <p>"Strengthen your connectivity with our comprehensive networking solutions, designed to ensure seamless and secure communication."</p>
            </div>
        </section>
    </body>
</html>
